In [3]:
import numpy as np
import pandas as pd
import datetime
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
import seaborn as sns
import collections
sns.set()

In [5]:
results_df = pd.read_csv("./Cleaned Data/results_cleaned.csv")
status_df = pd.read_csv("./Cleaned Data/status.csv")
races_df = pd.read_csv("./Cleaned Data/races_cleaned.csv")
circuits_df = pd.read_csv("./Cleaned Data/circuits_cleaned.csv")
drivers_df = pd.read_csv("./Cleaned Data/drivers_cleaned.csv")

In [6]:
result_status_combined = pd.merge(results_df, status_df, how='left', on=['statusId'])
result_status_combined.head()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status,error_catagory
0,1,18,1,1,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,87500.0,218.300,1,Finished,Finished
1,2,18,2,2,5,2,8.0,58,5.478,5696094.0,41.0,3.0,87700.0,217.586,1,Finished,Finished
2,3,18,3,3,7,3,6.0,58,8.163,5698779.0,41.0,5.0,88100.0,216.719,1,Finished,Finished
3,4,18,4,4,11,4,5.0,58,17.181,5707797.0,58.0,7.0,88600.0,215.464,1,Finished,Finished
4,5,18,5,1,3,5,4.0,58,18.014,5708630.0,43.0,1.0,87400.0,218.385,1,Finished,Finished

In [7]:
result_status_races_combined = pd.merge(result_status_combined, races_df, how='left', on=['raceId'])
result_status_races_combined.head()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status,error_catagory,year,circuitId,name
0,1,18,1,1,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,87500.0,218.300,1,Finished,Finished,2008.0,1.0,Australian Grand Prix
1,2,18,2,2,5,2,8.0,58,5.478,5696094.0,41.0,3.0,87700.0,217.586,1,Finished,Finished,2008.0,1.0,Australian Grand Prix
2,3,18,3,3,7,3,6.0,58,8.163,5698779.0,41.0,5.0,88100.0,216.719,1,Finished,Finished,2008.0,1.0,Australian Grand Prix
3,4,18,4,4,11,4,5.0,58,17.181,5707797.0,58.0,7.0,88600.0,215.464,1,Finished,Finished,2008.0,1.0,Australian Grand Prix
4,5,18,5,1,3,5,4.0,58,18.014,5708630.0,43.0,1.0,87400.0,218.385,1,Finished,Finished,2008.0,1.0,Australian Grand Prix

In [8]:
result_status_races_circuit_combined = pd.merge(result_status_races_combined, circuits_df, how='left', on=['circuitId'])
result_status_races_circuit_combined.head()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,time,milliseconds,...,turns,lap_length,race_laps,race_distance,max_speed,drs_zone,full_throttle_percentage,longest_flatout_section,downforce_level,gear_changes_per_lap
0,1,18,1,1,1,1,10.0,58,34:50.6,5690616.0,...,16.0,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0
1,2,18,2,2,5,2,8.0,58,5.478,5696094.0,...,16.0,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0
2,3,18,3,3,7,3,6.0,58,8.163,5698779.0,...,16.0,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0
3,4,18,4,4,11,4,5.0,58,17.181,5707797.0,...,16.0,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0
4,5,18,5,1,3,5,4.0,58,18.014,5708630.0,...,16.0,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0

In [9]:
result_status_races_circuit_drivers_combined = pd.merge(result_status_races_circuit_combined, drivers_df, how='left', on=['driverId'])
result_status_races_circuit_drivers_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23777 entries, 0 to 23776
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   resultId                  23777 non-null  int64
 1   raceId                    23777 non-null  int64
 2   driverId                  23777 non-null  int64
 3   constructorId             23777 non-null  int64
 4   grid                      23777 non-null  int64
 5   positionOrder             23777 non-null  int64
 6   points                    23777 non-null  float64
 7   laps                      23777 non-null  int64
 8   time                      6004 non-null   object
 9   milliseconds              6003 non-null   float64
 10  fastestLap                5383 non-null   float64
 11  rank                      5383 non-null   float64
 12  fastestLapTime            5383 non-null   float64
 13  fastestLapSpeed           5383 non-null   float64
 14  statusId                  23777 non-null  int64
 15  status                    23777 non-null  object
 16  error_catagory            23167 non-null  object
 17  year                      5671 non-null   float64
 18  circuitId                 5671 non-null   float64
 19  name_x                    5671 non-null   object
 20  name_y                    5671 non-null   object
 21  country                   5671 non-null   object
 22  turns                     5671 non-null   float64
 23  lap_length                5671 non-null   float64
 24  race_laps                 5671 non-null   float64
 25  race_distance             5671 non-null   float64
 26  max_speed                 5671 non-null   float64
 27  drs_zone                  5671 non-null   float64
 28  full_throttle_percentage  5671 non-null   float64
 29  longest_flatout_section   5671 non-null   float64
 30  downforce_level           5671 non-null   object
 31  gear_changes_per_lap      5671 non-null   float64
 32  fullName                  23777 non-null  object
dtypes: float64(17), int64(8), object(8)
memory usage: 6.2+ MB

In [10]:
result_status_races_circuit_drivers_combined = result_status_races_circuit_drivers_combined.drop(['name_x','time'], axis=1)
result_status_races_circuit_drivers_combined.head()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,...,lap_length,race_laps,race_distance,max_speed,drs_zone,full_throttle_percentage,longest_flatout_section,downforce_level,gear_changes_per_lap,fullName
0,1,18,1,1,1,1,10.0,58,5690616.0,39.0,...,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0,Lewis Hamilton
1,2,18,2,2,5,2,8.0,58,5696094.0,41.0,...,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0,Nick Heidfeld
2,3,18,3,3,7,3,6.0,58,5698779.0,41.0,...,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0,Nico Rosberg
3,4,18,4,4,11,4,5.0,58,5707797.0,58.0,...,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0,Fernando Alonso
4,5,18,5,1,3,5,4.0,58,5708630.0,43.0,...,5.303,58.0,307.574,321.1,2.0,0.77,843.0,High,46.0,Heikki Kovalainen

In [11]:
# Filter to races after 2004
filtered_combined = result_status_races_circuit_drivers_combined[result_status_races_circuit_drivers_combined['year']>=2004]
filtered_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5671 entries, 0 to 23776
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   resultId                  5671 non-null   int64
 1   raceId                    5671 non-null   int64
 2   driverId                  5671 non-null   int64
 3   constructorId             5671 non-null   int64
 4   grid                      5671 non-null   int64
 5   positionOrder             5671 non-null   int64
 6   points                    5671 non-null   float64
 7   laps                      5671 non-null   int64
 8   milliseconds              2622 non-null   float64
 9   fastestLap                5383 non-null   float64
 10  rank                      5383 non-null   float64
 11  fastestLapTime            5383 non-null   float64
 12  fastestLapSpeed           5383 non-null   float64
 13  statusId                  5671 non-null   int64
 14  status                    5671 non-null   object
 15  error_catagory            5665 non-null   object
 16  year                      5671 non-null   float64
 17  circuitId                 5671 non-null   float64
 18  name_y                    5671 non-null   object
 19  country                   5671 non-null   object
 20  turns                     5671 non-null   float64
 21  lap_length                5671 non-null   float64
 22  race_laps                 5671 non-null   float64
 23  race_distance             5671 non-null   float64
 24  max_speed                 5671 non-null   float64
 25  drs_zone                  5671 non-null   float64
 26  full_throttle_percentage  5671 non-null   float64
 27  longest_flatout_section   5671 non-null   float64
 28  downforce_level           5671 non-null   object
 29  gear_changes_per_lap      5671 non-null   float64
 30  fullName                  5671 non-null   object
dtypes: float64(17), int64(8), object(6)
memory usage: 1.4+ MB

In [12]:
collections.Counter(filtered_combined.status)

Counter({'Finished': 2626,
         '+1 Lap': 1265,
         'Engine': 129,
         'Collision': 236,
         'Accident': 186,
         'Transmission': 21,
         'Clutch': 11,
         'Electrical': 27,
         'Hydraulics': 74,
         'Disqualified': 20,
         '+2 Laps': 303,
         'Spun off': 57,
         'Gearbox': 84,
         'Radiator': 1,
         'Suspension': 49,
         '+4 Laps': 50,
         'Brakes': 55,
         '+3 Laps': 104,
         'Overheating': 5,
         'Mechanical': 17,
         'Tyre': 12,
         'Driver Seat': 1,
         'Puncture': 12,
         'Driveshaft': 15,
         'Retired': 56,
         'Fuel pressure': 8,
         'Front wing': 4,
         'Water pressure': 4,
         'Refuelling': 1,
         'Wheel': 17,
         'Throttle': 8,
         'Steering': 6,
         'Technical': 4,
         'Electronics': 6,
         'Broken wing': 1,
         'Heat shield fire': 2,
         'Exhaust': 4,
         'Oil leak': 12,
         '+11 Laps': 4,
         'Wheel rim': 2,
         'Water leak': 6,
         'Fuel pump': 2,
         'Track rod': 2,
         '+5 Laps': 13,
         '+17 Laps': 1,
         'Oil pressure': 4,
         'Pneumatics': 4,
         'Withdrew': 24,
         '+12 Laps': 1,
         '+7 Laps': 1,
         'Engine fire': 1,
         '+26 Laps': 1,
         'Tyre puncture': 1,
         'Out of fuel': 2,
         'Wheel nut': 8,
         'Not classified': 1,
         '+6 Laps': 3,
         '+8 Laps': 3,
         'Handling': 1,
         'Rear wing': 5,
         'Fire': 1,
         'Differential': 1,
         'Injured': 1,
         '+10 Laps': 2,
         '+9 Laps': 2,
         '+42 Laps': 1,
         'Engine misfire': 1,
         '+14 Laps': 1,
         'Did not qualify': 4,
         'Vibrations': 4,
         'Alternator': 3,
         'Collision damage': 18,
         'Fuel system': 2,
         'ERS': 5,
         'Power Unit': 25,
         'Turbo': 3,
         'Drivetrain': 1,
         'Power loss': 4,
         'Brake duct': 1,
         'Excluded': 1,
         'Battery': 4,
         'Seat': 1,
         'Injury': 1,
         'Spark plugs': 1})

In [13]:
filtered_combined = filtered_combined[filtered_combined['error_catagory'].notna()]
filtered_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5665 entries, 0 to 23776
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   resultId                  5665 non-null   int64
 1   raceId                    5665 non-null   int64
 2   driverId                  5665 non-null   int64
 3   constructorId             5665 non-null   int64
 4   grid                      5665 non-null   int64
 5   positionOrder             5665 non-null   int64
 6   points                    5665 non-null   float64
 7   laps                      5665 non-null   int64
 8   milliseconds              2622 non-null   float64
 9   fastestLap                5379 non-null   float64
 10  rank                      5379 non-null   float64
 11  fastestLapTime            5379 non-null   float64
 12  fastestLapSpeed           5379 non-null   float64
 13  statusId                  5665 non-null   int64
 14  status                    5665 non-null   object
 15  error_catagory            5665 non-null   object
 16  year                      5665 non-null   float64
 17  circuitId                 5665 non-null   float64
 18  name_y                    5665 non-null   object
 19  country                   5665 non-null   object
 20  turns                     5665 non-null   float64
 21  lap_length                5665 non-null   float64
 22  race_laps                 5665 non-null   float64
 23  race_distance             5665 non-null   float64
 24  max_speed                 5665 non-null   float64
 25  drs_zone                  5665 non-null   float64
 26  full_throttle_percentage  5665 non-null   float64
 27  longest_flatout_section   5665 non-null   float64
 28  downforce_level           5665 non-null   object
 29  gear_changes_per_lap      5665 non-null   float64
 30  fullName                  5665 non-null   object
dtypes: float64(17), int64(8), object(6)
memory usage: 1.4+ MB

In [14]:
filtered_combined = filtered_combined.drop(['points', 'laps', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'status'], axis=1)

In [15]:
filtered_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5665 entries, 0 to 23776
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   resultId                  5665 non-null   int64
 1   raceId                    5665 non-null   int64
 2   driverId                  5665 non-null   int64
 3   constructorId             5665 non-null   int64
 4   grid                      5665 non-null   int64
 5   positionOrder             5665 non-null   int64
 6   statusId                  5665 non-null   int64
 7   error_catagory            5665 non-null   object
 8   year                      5665 non-null   float64
 9   circuitId                 5665 non-null   float64
 10  name_y                    5665 non-null   object
 11  country                   5665 non-null   object
 12  turns                     5665 non-null   float64
 13  lap_length                5665 non-null   float64
 14  race_laps                 5665 non-null   float64
 15  race_distance             5665 non-null   float64
 16  max_speed                 5665 non-null   float64
 17  drs_zone                  5665 non-null   float64
 18  full_throttle_percentage  5665 non-null   float64
 19  longest_flatout_section   5665 non-null   float64
 20  downforce_level           5665 non-null   object
 21  gear_changes_per_lap      5665 non-null   float64
 22  fullName                  5665 non-null   object
dtypes: float64(11), int64(7), object(5)
memory usage: 1.0+ MB

In [18]:
error = [['Track'],['Constructor','Team'],['Driver', 'Team']]
data = filtered_combined[['driverId', 'constructorId', 'circuitId', 'error_catagory']]

def error_rate(error, data, error_by, error_name):
    count = data.groupby(error_by)['error_catagory'].agg(['count']).reset_index()
    error_rate = data.loc[data['error_catagory'].isin(error)]
    error_rate = error_rate.groupby(error_by)['error_catagory'].count().reset_index()
    error_rate = error_rate.merge(count)
    error_rate[error_name] = error_rate['error_catagory'] / error_rate['count']
    error_rate = error_rate[[error_by, error_name]]
    return error_rate

driver_error_rate = error_rate(error[2], data, 'driverId', 'driver_error_rate')
constructor_error_rate = error_rate(error[1], data, 'constructorId', 'constructor_error_rate')
circuit_error_rate = error_rate(error[0], data, 'circuitId', 'circuit_error_rate')
combined = filtered_combined.merge(driver_error_rate).merge(constructor_error_rate).merge(circuit_error_rate).sort_values(['resultId'])
combined['label'] = (combined.positionOrder < 11).astype(int)

combined.to_csv('./Data/question1.csv', index = False)

In [ ]:
# function error_rate():

# get (number of races) for the specified errorby (driverId, constructorId or circuitId)
# get (number of errors) corresponding to the specified errorby (['Driver', 'Team'] for driverId, ['Constructor', 'Team'] for driverId and ['Track'] for circuitId)
# merge (number of races) with (number of errors) for specified errorby
# create a new column named error_name corresponding to specified errorby (driver_error_rate for driverId, constructor_error_rate for constructorId and circuit_error_rate for circuitId) containing the ratio of (number of errors) to (number of races) for the specified errorby
# return only errorby and error_name

# filtererd_combined is then merged with driver_error_rate, constructor_error_rate and circuit_error_rate
# the label is obtained by checking if the positionOrder is below 11 (point-winning position)

# driver_error_rate defines the ratio of driver error count to race count
# where driver error count refers to the number of races the driver partook in which resulted in driver related error category errors
# and race count refers to the total number of races the driver partook in

# constructor_error_rate defines the ratio of constructor error count to race count
# where constructor error count refers to the number of races the constructor partook in which resulted in constructor related error category errors
# and race count refers to the total number of races the driver partook in

# circuit_error_rate defines the ratio of circuit error count to race count
# where circuit error count refers to the number of races in which the circuit was used that resulted in circuit related error category errors
# and race count refers to the total number of races in which the circuit was used