In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Step 1: We imported qualifying_clean.csv and performed data cleaning and data transformation

In [80]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

np.random.seed(10)

df = pd.read_csv('/content/drive/My Drive/DAM Assignment/Cleaned Data/qualifying_clean.csv')
df.head(20)

    raceId  driverId  constructorId  position       q1       q2       q3
0       18         1              1         1  86600.0  85200.0  86700.0
1       18         9              2         2  86100.0  85300.0  86900.0
2       18         5              1         3  85700.0  85500.0  87100.0
3       18        13              6         4  86000.0  85700.0  87200.0
4       18         2              2         5  86000.0  85500.0  87200.0
5       18        15              7         6  86400.0  86100.0  88500.0
6       18         3              3         7  86300.0  86100.0  88700.0
7       18        14              9         8  86400.0  86100.0  89000.0
8       18        10              7         9  86900.0  86200.0  89600.0
9       18        20              5        10  86700.0  85800.0      NaN
10      18        22             11        11  86400.0  86200.0      NaN
11      18         4              4        12  86900.0  86200.0      NaN
12      18        18             11        13  86700.0  86300.0      NaN
13      18         6              3        14  86900.0  86400.0      NaN
14      18        17              9        15  86900.0      NaN      NaN
15      18         8              6        16  86100.0      NaN      NaN
16      18        21             10        17  87200.0      NaN      NaN
17      18         7              5        18  87400.0      NaN      NaN
18      18        16             10        19  87900.0      NaN      NaN
19      18        11              8        20  88200.0      NaN      NaN

In [81]:
df.dtypes

raceId             int64
driverId           int64
constructorId      int64
position           int64
q1               float64
q2               float64
q3               float64
dtype: object

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7516 entries, 0 to 7515
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   raceId         7516 non-null   int64
 1   driverId       7516 non-null   int64
 2   constructorId  7516 non-null   int64
 3   position       7516 non-null   int64
 4   q1             7397 non-null   float64
 5   q2             3652 non-null   float64
 6   q3             2178 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 411.2 KB

we dropped all the NaN values from the qualifying dataset

In [83]:
df = df[df.q1.notna()]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7397 entries, 0 to 7515
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   raceId         7397 non-null   int64
 1   driverId       7397 non-null   int64
 2   constructorId  7397 non-null   int64
 3   position       7397 non-null   int64
 4   q1             7397 non-null   float64
 5   q2             3652 non-null   float64
 6   q3             2178 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 462.3 KB

In [85]:
df.head()

   raceId  driverId  constructorId  position       q1       q2       q3
0      18         1              1         1  86600.0  85200.0  86700.0
1      18         9              2         2  86100.0  85300.0  86900.0
2      18         5              1         3  85700.0  85500.0  87100.0
3      18        13              6         4  86000.0  85700.0  87200.0
4      18         2              2         5  86000.0  85500.0  87200.0

In [86]:
# This is to get the fastest qualifying time among all the timings
def fastest_timing(row):
  if row.q1 == None:
    return None

  fastest = row.q1

  if pd.isna(row.q2) == False:
    if row.q2 < row.q1:
      fastest = row.q2
  if pd.isna(row.q3) == False:
    if row.q3 < row.q2:
      fastest = row.q3

  return fastest

In [87]:
df['fastest_q'] = df.apply(fastest_timing, axis=1)

In [88]:
df.head()

   raceId  driverId  constructorId  ...       q2       q3  fastest_q
0      18         1              1  ...  85200.0  86700.0    85200.0
1      18         9              2  ...  85300.0  86900.0    85300.0
2      18         5              1  ...  85500.0  87100.0    85500.0
3      18        13              6  ...  85700.0  87200.0    85700.0
4      18         2              2  ...  85500.0  87200.0    85500.0

[5 rows x 8 columns]

Now that we have our fastest qualifying timing, we do not need q1, q2, q3

In [89]:
df = df.drop(['q1', 'q2', 'q3'], axis=1)

### Step 2: We imported Race_df and Circuit_df and performed data Integration to get a dataframe that consist of circuit informations and year of the races

In [90]:
df_races = pd.read_csv('/content/drive/My Drive/DAM Assignment/Cleaned Data/races_cleaned.csv')
df_races.head()

   raceId  year  circuitId                   name
0       1  2009          1  Australian Grand Prix
1       2  2009          2   Malaysian Grand Prix
2       3  2009         17     Chinese Grand Prix
3       4  2009          3     Bahrain Grand Prix
4       5  2009          4     Spanish Grand Prix

In [91]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     997 non-null    int64
 1   year       997 non-null    int64
 2   circuitId  997 non-null    int64
 3   name       997 non-null    object
dtypes: int64(3), object(1)
memory usage: 31.3+ KB

In [92]:
df_circuits = pd.read_csv('/content/drive/My Drive/DAM Assignment/Cleaned Data/circuits_cleaned.csv')
df_circuits.head()

   circuitId  ... gear_changes_per_lap
0          1  ...                 46.0
1          2  ...                 40.0
2          3  ...                 56.0
3          4  ...                 45.0
4          5  ...                 46.0

[5 rows x 13 columns]

In [93]:
df_circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   circuitId                 73 non-null     int64
 1   name                      73 non-null     object
 2   country                   73 non-null     object
 3   turns                     73 non-null     int64
 4   lap_length                30 non-null     float64
 5   race_laps                 30 non-null     float64
 6   race_distance             30 non-null     float64
 7   max_speed                 30 non-null     float64
 8   drs_zone                  30 non-null     float64
 9   full_throttle_percentage  30 non-null     float64
 10  longest_flatout_section   30 non-null     float64
 11  downforce_level           30 non-null     object
 12  gear_changes_per_lap      30 non-null     float64
dtypes: float64(8), int64(2), object(3)
memory usage: 7.5+ KB

Merging race_df and circuit_df

In [94]:
df2 = pd.merge(df_races, df_circuits, how='left', on=['circuitId'])

In [95]:
df2.head()

   raceId  year  ...  downforce_level gear_changes_per_lap
0       1  2009  ...             High                 46.0
1       2  2009  ...             High                 40.0
2       3  2009  ...             High                 51.0
3       4  2009  ...           Medium                 56.0
4       5  2009  ...             High                 45.0

[5 rows x 16 columns]

In [96]:
df2 = df2.drop(['name_x', 'name_y', 'country'], axis=1)

In [97]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 996
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   raceId                    997 non-null    int64
 1   year                      997 non-null    int64
 2   circuitId                 997 non-null    int64
 3   turns                     997 non-null    int64
 4   lap_length                696 non-null    float64
 5   race_laps                 696 non-null    float64
 6   race_distance             696 non-null    float64
 7   max_speed                 696 non-null    float64
 8   drs_zone                  696 non-null    float64
 9   full_throttle_percentage  696 non-null    float64
 10  longest_flatout_section   696 non-null    float64
 11  downforce_level           696 non-null    object
 12  gear_changes_per_lap      696 non-null    float64
dtypes: float64(8), int64(4), object(1)
memory usage: 109.0+ KB

### step 3: Next, we performed data integration for the dataset from step 1 and step 2 to obtain a dataset that consists of the years, circuit information and fastest qualifying run timing.

In [98]:
df3 = pd.merge(df, df2, how='left', on=['raceId'])

In [99]:
df3.head()

   raceId  driverId  ...  downforce_level  gear_changes_per_lap
0      18         1  ...             High                  46.0
1      18         9  ...             High                  46.0
2      18         5  ...             High                  46.0
3      18        13  ...             High                  46.0
4      18         2  ...             High                  46.0

[5 rows x 17 columns]

In [100]:
df3.columns

Index(['raceId', 'driverId', 'constructorId', 'position', 'fastest_q', 'year',
       'circuitId', 'turns', 'lap_length', 'race_laps', 'race_distance',
       'max_speed', 'drs_zone', 'full_throttle_percentage',
       'longest_flatout_section', 'downforce_level', 'gear_changes_per_lap'],
      dtype='object')

In [101]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7397 entries, 0 to 7396
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   raceId                    7397 non-null   int64
 1   driverId                  7397 non-null   int64
 2   constructorId             7397 non-null   int64
 3   position                  7397 non-null   int64
 4   fastest_q                 7397 non-null   float64
 5   year                      7397 non-null   int64
 6   circuitId                 7397 non-null   int64
 7   turns                     7397 non-null   int64
 8   lap_length                7112 non-null   float64
 9   race_laps                 7112 non-null   float64
 10  race_distance             7112 non-null   float64
 11  max_speed                 7112 non-null   float64
 12  drs_zone                  7112 non-null   float64
 13  full_throttle_percentage  7112 non-null   float64
 14  longest_flatout_section   7112 non-null   float64
 15  downforce_level           7112 non-null   object
 16  gear_changes_per_lap      7112 non-null   float64
dtypes: float64(9), int64(7), object(1)
memory usage: 1.0+ MB

### Step 4: We import results_clean.csv that consist of results information. We performed data transformation and data cleaning  to obtain the fastest lap timing

In [102]:
df_results = pd.read_csv('/content/drive/My Drive/DAM Assignment/Cleaned Data/results_clean.csv')
df_results.head(20)

    resultId  raceId  driverId  ...  fastestLapTime  fastestLapSpeed  statusId
0          1      18         1  ...         87500.0          218.300         1
1          2      18         2  ...         87700.0          217.586         1
2          3      18         3  ...         88100.0          216.719         1
3          4      18         4  ...         88600.0          215.464         1
4          5      18         5  ...         87400.0          218.385         1
5          6      18         6  ...         89600.0          212.974        11
6          7      18         7  ...         89500.0          213.224         5
7          8      18         8  ...         87900.0          217.180         5
8          9      18         9  ...         88800.0          215.100         4
9         10      18        10  ...         89600.0          213.166         3
10        11      18        11  ...         90900.0          210.038         7
11        12      18        12  ...         91400.0          208.907         8
12        13      18        13  ...         88200.0          216.510         5
13        14      18        14  ...         89500.0          213.300         4
14        15      18        15  ...         89300.0          213.758        10
15        16      18        16  ...         92000.0          207.461         9
16        17      18        17  ...             NaN              NaN         4
17        18      18        18  ...             NaN              NaN         4
18        19      18        19  ...             NaN              NaN         4
19        20      18        20  ...             NaN              NaN         4

[20 rows x 15 columns]

In [103]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23777 entries, 0 to 23776
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         23777 non-null  int64
 1   raceId           23777 non-null  int64
 2   driverId         23777 non-null  int64
 3   constructorId    23777 non-null  int64
 4   grid             23777 non-null  int64
 5   positionOrder    23777 non-null  int64
 6   points           23777 non-null  float64
 7   laps             23777 non-null  int64
 8   time             6004 non-null   object
 9   milliseconds     6003 non-null   float64
 10  fastestLap       5383 non-null   float64
 11  rank             5383 non-null   float64
 12  fastestLapTime   5383 non-null   float64
 13  fastestLapSpeed  5383 non-null   float64
 14  statusId         23777 non-null  int64
dtypes: float64(6), int64(8), object(1)
memory usage: 2.7+ MB

In [104]:
fastest_race_timing = pd.DataFrame(df_results.groupby('raceId')['fastestLapTime'].agg('max'))

There are NaN values within the fastest lap time

In [105]:
fastest_race_timing[fastest_race_timing['fastestLapTime'].isna()]

        fastestLapTime
raceId
108                NaN
109                NaN
110                NaN
111                NaN
112                NaN
...                ...
836                NaN
837                NaN
838                NaN
839                NaN
843                NaN

[714 rows x 1 columns]

we drop the NaN

In [106]:
fastest_race_timing = fastest_race_timing.dropna()

We get the fastest lap time

In [107]:
fastest_race_timing.head()

        fastestLapTime
raceId
1              90500.0
2              99500.0
3             120300.0
4              96500.0
5              88700.0

### Step 5: Next, we performed data integration for the dataset from step 3 and step 4 to obtain a dataset that consists of the years, circuit information, fastest qualifying run timing and fastest lap time.

In [108]:
df4 = pd.merge(df3, fastest_race_timing, how='left', on=['raceId'])

In [109]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7397 entries, 0 to 7396
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   raceId                    7397 non-null   int64
 1   driverId                  7397 non-null   int64
 2   constructorId             7397 non-null   int64
 3   position                  7397 non-null   int64
 4   fastest_q                 7397 non-null   float64
 5   year                      7397 non-null   int64
 6   circuitId                 7397 non-null   int64
 7   turns                     7397 non-null   int64
 8   lap_length                7112 non-null   float64
 9   race_laps                 7112 non-null   float64
 10  race_distance             7112 non-null   float64
 11  max_speed                 7112 non-null   float64
 12  drs_zone                  7112 non-null   float64
 13  full_throttle_percentage  7112 non-null   float64
 14  longest_flatout_section   7112 non-null   float64
 15  downforce_level           7112 non-null   object
 16  gear_changes_per_lap      7112 non-null   float64
 17  fastestLapTime            5549 non-null   float64
dtypes: float64(10), int64(7), object(1)
memory usage: 1.1+ MB

In [110]:
df4 = df4[df4.fastestLapTime.notnull()]

In [111]:
df4.head()

   raceId  driverId  ...  gear_changes_per_lap  fastestLapTime
0      18         1  ...                  46.0         92000.0
1      18         9  ...                  46.0         92000.0
2      18         5  ...                  46.0         92000.0
3      18        13  ...                  46.0         92000.0
4      18         2  ...                  46.0         92000.0

[5 rows x 18 columns]

In [112]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5549 entries, 0 to 7396
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   raceId                    5549 non-null   int64
 1   driverId                  5549 non-null   int64
 2   constructorId             5549 non-null   int64
 3   position                  5549 non-null   int64
 4   fastest_q                 5549 non-null   float64
 5   year                      5549 non-null   int64
 6   circuitId                 5549 non-null   int64
 7   turns                     5549 non-null   int64
 8   lap_length                5549 non-null   float64
 9   race_laps                 5549 non-null   float64
 10  race_distance             5549 non-null   float64
 11  max_speed                 5549 non-null   float64
 12  drs_zone                  5549 non-null   float64
 13  full_throttle_percentage  5549 non-null   float64
 14  longest_flatout_section   5549 non-null   float64
 15  downforce_level           5549 non-null   object
 16  gear_changes_per_lap      5549 non-null   float64
 17  fastestLapTime            5549 non-null   float64
dtypes: float64(10), int64(7), object(1)
memory usage: 823.7+ KB

In [118]:
df4.year.unique()

array([2008, 2007, 2006, 2005, 2004, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017])

An example of circuit 4 where it shows the data of different years

In [121]:
df4[df4.circuitId == 4]

      raceId  driverId  ...  gear_changes_per_lap  fastestLapTime
66        21         8  ...                  45.0         86900.0
67        21         4  ...                  45.0         86900.0
68        21        13  ...                  45.0         86900.0
69        21         9  ...                  45.0         86900.0
70        21         1  ...                  45.0         86900.0
...      ...       ...  ...                   ...             ...
7096     973       828  ...                  45.0         87600.0
7097     973       835  ...                  45.0         87600.0
7098     973       840  ...                  45.0         87600.0
7099     973       838  ...                  45.0         87600.0
7100     973       826  ...                  45.0         87600.0

[298 rows x 18 columns]

Next we aggregate to form the following fastest lap time according to the years

In [123]:
pd.DataFrame(df4.groupby(['circuitId', 'year'])['fastestLapTime'].agg('max'))

                fastestLapTime
circuitId year
1         2004         90600.0
          2005         93100.0
          2006        101400.0
          2007         90900.0
          2008         92000.0
...                        ...
71        2015        105300.0
          2016        102700.0
          2017        102300.0
73        2016        113200.0
          2017        111700.0

[262 rows x 1 columns]

### Step 6: Next for the most important step, we performed data transformation on data obtained from Step 5 to acquire the fastest lap from the previous years of the same circuit.

In [124]:
# df4 = pd.merge(df3, fastest_race_timing, how='left', on=['raceId'])
new = pd.DataFrame(df4.groupby(['circuitId', 'year'])['fastestLapTime'].agg('max')).reset_index().rename(columns={'year': 'year_x', 'fastestLapTime': 'fastestLapX'})
new = new[new['fastestLapX'].notnull()]
def generate_prev_fastest_year(df):
  base_year = 2004
  year_before = 4 
  name = 'prev_year_'
  df = df.loc[df['year'] >= base_year+year_before ]
  #need to get 4 years before from the same circuit, where year is before
  for i in range(1,year_before+1):
    df['year_x'] = df['year'] - i
    df = df.merge(new).rename(columns={'year_x': name+str(i), 'fastestLapX': name+str(i)+'_lap'})

  return df

In [125]:
df5 = generate_prev_fastest_year(df4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [128]:
df5.head()

   raceId  driverId  ...  prev_year_4  prev_year_4_lap
0      18         1  ...         2004          90600.0
1      18         9  ...         2004          90600.0
2      18         5  ...         2004          90600.0
3      18        13  ...         2004          90600.0
4      18         2  ...         2004          90600.0

[5 rows x 26 columns]

In [129]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2678 entries, 0 to 2677
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   raceId                    2678 non-null   int64
 1   driverId                  2678 non-null   int64
 2   constructorId             2678 non-null   int64
 3   position                  2678 non-null   int64
 4   fastest_q                 2678 non-null   float64
 5   year                      2678 non-null   int64
 6   circuitId                 2678 non-null   int64
 7   turns                     2678 non-null   int64
 8   lap_length                2678 non-null   float64
 9   race_laps                 2678 non-null   float64
 10  race_distance             2678 non-null   float64
 11  max_speed                 2678 non-null   float64
 12  drs_zone                  2678 non-null   float64
 13  full_throttle_percentage  2678 non-null   float64
 14  longest_flatout_section   2678 non-null   float64
 15  downforce_level           2678 non-null   object
 16  gear_changes_per_lap      2678 non-null   float64
 17  fastestLapTime            2678 non-null   float64
 18  prev_year_1               2678 non-null   int64
 19  prev_year_1_lap           2678 non-null   float64
 20  prev_year_2               2678 non-null   int64
 21  prev_year_2_lap           2678 non-null   float64
 22  prev_year_3               2678 non-null   int64
 23  prev_year_3_lap           2678 non-null   float64
 24  prev_year_4               2678 non-null   int64
 25  prev_year_4_lap           2678 non-null   float64
dtypes: float64(14), int64(11), object(1)
memory usage: 564.9+ KB

In [ ]:
df5.to_csv('question2_new.csv')